<% def calculate_css
     ratio = @display.xp_min / @display.xp_max

     severity = if ratio > 0.9
         "green-text text-accent-3"
       elsif ratio > 0.7
         "green-text text-darken-1"
       elsif ratio > 0.5
         "green-text text-lighten-3"
       elsif ratio > 0.4
         "green-text text-darken-3"
       elsif ratio > 0.3
         "indigo-text text-accent-3"
       elsif ratio > 0.2
         "indigo-text text-lighten-1"
       elsif ratio > 0.1
         "indigo-text text-lighten-2"
       else
         "indigo-text text-lighten-3"
     end

     severity
   end %>

<style>
  h1 {
    text-align: center;
    font-size: 200px;
    font-weight: bold;
  }
</style>

<div class="container">
  <h1 class="<%= calculate_css -%>"><%= @display.xp_min.to_i %></h1>
  <hr />
  <h1><%= @display.xp_max.to_i %></h1>
</div>
