

<style>
  h1 {
    text-align: center;
    font-size: 200px;
    font-weight: bold;
  }
</style>

<div class="container">
  <h1 class="<%= calculate_css(@display) -%>"><%= @display.xp_min.to_i %></h1>
  <hr />
  <h1><%= max_xp(@display.level).to_i  %></h1>
</div>
